{% extends base.html %}



		<main class="page">
			<div class="page__container">

				<div class="page__tags tags">
					<div class="tags">
						<h2>Популярные теги</h2>
						<div class="tags__container tags-container-row">
							<span>perl</span>
							<span>Python</span>
							<span>techPark</span>
						</div>
						<div class="tags__container tags-container-row">
							<span>MySQL</span>
							<span>Django</span>
						</div>
						<div class="tags__container tags-container-row">
							<span>VK</span>
							<span>BMSTU</span>
							<span>FireFox</span>
						</div>
					</div>
					<div class="best-members">
						<h2>Лучшие пользователи</h2>
						<div class="members__container members-container-row">
							<span>MeetUpTeam</span>
						</div>
						<div class="members__container members-container-row">
							<span>yakwilik</span>
						</div>
						<div class="members__container members-container-row">
							<span>vkTeam</span>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="footer__container">
			</div>
		</footer>
	</div>
	<!-- <div id="popup" aria-hidden="true" class="popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close">Закрыть</button>
			<div class="popup__text">
				Text
			</div>
		</div>
	</div>
</div> -->
	<script src="js/app.min.js?_v=20220507234834"></script>
</body>

</html>