.login-button {
    margin-left: rem(10);
    padding: rem(5);
    border-radius: rem(50);
}

.new-acc {
    margin-left: rem(10);
    color: blue;
}
.underline {
    text-decoration: underline !important;
}
.wrong-pas {
    color: red;
    margin-left: rem(10);
    padding: rem(5);
}
.log-in {
    font-size: rem(30) !important;
}
