.ml10 {
    margin-left: rem(10);
}
.w20 {
    width: 20%;
}
.mb10 {
    margin-bottom: rem(10);
}

.reg-button {
    width: rem(250);
    text-align: center;
    margin: 0 auto;
    padding: rem(5) rem(7);
    border: 1px solid black;
    border-radius: rem(40);
}
