<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Новый вопрос</title>
	<meta charset="UTF-8" />
	<meta name="format-detection" content="telephone=no" />
	<!-- <style>body{opacity: 0;}</style> -->
	<link rel="stylesheet" href="css/style.min.css?_v=20220507234834" />
	<link rel="shortcut icon" href="favicon.ico" />
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__body body-header">
				<div class="body-header__container">
					<a class="body-header__logo">
						<picture><source srcset="img/logo.webp" type="image/webp"><img src="img/logo.png" alt="" /></picture>
					</a>
					<div class="body-header__search">
						<form class="search-header">
							<input autocomplete="off" type="text" name="form[]" data-error="Ошибка" placeholder="Поиск" class="search-header__input" />
							<button type="submit" class="button search-header__button">
								найти
							</button>
						</form>
					</div>
					<div class="body-header__user user-header">
						<div class="user-header__items header-items">
							<div class="header-items__item header-item">
								<div class="header-item__settings setting-item">
									Войти
								</div>
								<div class="header-item__log-out log-out-item">
									Зарегистрироваться
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="icon-menu">
						<span></span>
					</button>
				</div>
				<div class="line"></div>
			</div>
		</header>

		<main class="page">
			<div class="page__container">
				<div class="page__articles articles">
					<div class="articles__header article-header">
						<ul class="article-header__list list">
							<li class="list__item page-title">
								Новый вопрос
							</li>
						</ul>
					</div>
					<div class="new-question">
						<div class="new-question__title question-title">
							<div class="question-title__description">
								Заголовок вопроса:
							</div>
							<div class="question-title__input">
								<input autocomplete="off" type="text" name="form[]" data-error="Ошибка" placeholder="Как построить Лунапарк?" maxlength="55" />
							</div>
						</div>
						<div class="new-question__text question-text">
							<div class="question-text__description">
								Вопрос
							</div>
							<div class="question-text__text-area">
								<textarea name="" id=""></textarea>
							</div>
						</div>
						<div class="new-question__tags question-tags">
							<div class="question-tags__description">
								Теги
							</div>
							<div class="question-tags__input">
								<input autocomplete="off" type="text" name="form[]" data-error="Ошибка" placeholder="программирование строительство" maxlength="55" />
							</div>
						</div>
						<div class="new-question__button question-button">
							<button class="button">Спросить</button>
						</div>
					</div>
				</div>
				<div class="page__tags tags-new">
					<div class="tags">
						<h2>Популярные теги</h2>
						<div class="tags__container tags-container-row">
							<span>perl</span>
							<span>Python</span>
							<span>techPark</span>
						</div>
						<div class="tags__container tags-container-row">
							<span>MySQL</span>
							<span>Django</span>
						</div>
						<div class="tags__container tags-container-row">
							<span>VK</span>
							<span>BMSTU</span>
							<span>FireFox</span>
						</div>
					</div>
					<div class="best-members">
						<h2>Лучшие пользователи</h2>
						<div class="members__container members-container-row">
							<span>MeetUpTeam</span>
						</div>
						<div class="members__container members-container-row">
							<span>yakwilik</span>
						</div>
						<div class="members__container members-container-row">
							<span>vkTeam</span>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="footer__container">
			</div>
		</footer>
	</div>
	<!-- <div id="popup" aria-hidden="true" class="popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close">Закрыть</button>
			<div class="popup__text">
				Text
			</div>
		</div>
	</div>
</div> -->
	<script src="js/app.min.js?_v=20220507234834"></script>
</body>

</html>