{% load static %}
<div class="articles__content article-content">
    <div class="article-content__info article-info">
        <div class="article-info__img">
            <a href="">
                <picture>
{#                    <source srcset="{{ question.author.avatar.url }}" type="image/webp">#}
                    <img src="{{ question.author.avatar.url }}" alt="" class="ibg"/></picture>
            </a>
        </div>
        <div class="options-container">
            <form class="option-item">
            {% csrf_token %}
            <button name="{{ question.id }}" data-id="{{ question.id }}"><img class="option-button"  title="{{ question.likes }}" src="{% static "img/like.png" %}"/>  </button>
            </form>
            <form class="option-item">
            {% csrf_token %}
            <button name="{{ question.id }}" data-id="{{ question.id }}"><img class="option-button" title="{{ question.dislikes }}" src="{% static "img/dislike.png" %}"/>  </button>
            </form>
        </div>
    </div>
    <div class="article-content__body article-body">
        <div class="article-body__head article-head">
            <a href="{% url "one_question" question_id=question.id %}">{{ question.title }}</a>
        </div>
        <div class="article-body__content article-content">
            {{ question.text }}
        </div>
        <ul class="ariclie-body__footer article-footer">
            <li class="article-footer__answers">
               <span>ответы:&nbsp{{question.answers}}
            </span>
            </li>
            <li class="article-footer__tags">
                Теги:
                <span class="tags">
                    {% for tag in tags %}
                        <a href="{% url "one_tag" i=tag %}">{{ tag }}</a>&nbsp;
                    {% endfor %}
                </span>
            </li>
        </ul>
    </div>
</div>